logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
deps/build.log
deps/downloads/
deps/usr/
deps/src/
docs/build/
docs/site/
Manifest.toml
*.DS_Store
out
build