header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  font-size: .85rem;
  top: 0;
  z-index: 1;
  background-color: var(--background-color-1);
  width: 100%;
  padding: 0 1%;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid var(--border-color);
}

header.scrolled {
  box-shadow: var(--box-shadow);
}

.header-logo {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.header-title {
  font-size: 1.1rem;
  font-weight: normal;
  user-select: none;
}

.header-title,
.nav-link {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  height: fit-content;
  text-decoration: none;
  color: var(--text-color-1);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 24%;
}

.nav-link-active {
  background-color: var(--hover-background-color);
  color: var(--link-color);
}

.github-icon,
.theme-button-icon {
  width: 18px;
  height: 18px;
  fill: var(--link-color);
}

.github-link,
.theme-button {
  display: flex;
  background: inherit;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 6px;
  box-shadow: none;
}

.github-link:hover,
.theme-button:hover {
  background: var(--hover-background-color);
}

.github-link:active,
.theme-button:active {
  background: none;
}
