.checklist-page {
    display: flex;
    width: 100%;
    gap: 20px;
}

.upload-and-files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 78vh;
}

.upload-container {
    display: flex;
    flex-direction: column;
    color: var(--input-text-color);
    width: 100%;
    height: 40%;
}

.upload {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    border: 2px dashed var(--border-color);
    background: linear-gradient(0deg, var(--background-color-2) 0%, var(--background-color-3) 100%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    overflow: auto;
}

.upload:hover {
    background: linear-gradient(0deg, var(--background-color-3) 0%, var(--background-color-4) 100%);
}

.upload:hover .upload-icon {
    fill: var(--background-color-4);
    background-color: var(--background-color-3);
}

.upload.drag-active {
    border-color: var(--link-color);
    background: linear-gradient(0deg, var(--background-color-3) 0%, var(--background-color-4) 100%);
    box-shadow: var(--box-shadow-focus);
}

.upload.drag-active .upload-icon {
    fill: var(--background-color-4);
    background-color: var(--background-color-3);
}

.upload-icon {
    position: absolute;
    fill: var(--background-color-3);
    height: 85%;
    padding: 15px;
    background-color: var(--background-color-2);
    border-radius: 50%;
}

.upload-text,
.upload-file {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60%;
    max-width: 90%;
}

.upload-file {
    user-select: none;
}

.remove-file-icon {
    fill: var(--input-text-color);
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    margin-left: 10px;
}

.remove-file-icon:hover {
    fill: var(--error-color);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100%;
    padding: 4px;
    margin: 15px 0;
}

.upload-button-icon {
    fill: var(--text-color-1);
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.files-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color-5);
    font-size: 0.8rem;
    width: 100%;
    height: 60%;
}

.files-search {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.files-search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px 0;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid var(--border-color);
    background: linear-gradient(0deg, var(--background-color-2) 0%, var(--background-color-3) 100%);
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    color: var(--link-color);
}

.files-search-input:hover {
    background: linear-gradient(0deg, var(--background-color-3) 0%, var(--background-color-2) 100%);
}

.files-search-input:focus {
    border-color: var(--link-color);
    background: linear-gradient(0deg, var(--background-color-3) 0%, var(--background-color-2) 100%);
}

.files-search-icon {
    position: absolute;
    left: 10px;
    fill: var(--input-text-color);
    width: 14px;
    height: 14px;
}

.files-search-clear-icon {
    display: none;
    position: absolute;
    right: 10px;
    fill: var(--input-text-color);
    width: 14px;
    height: 14px;
}

.files-search-input:focus~.files-search-clear-icon {
    display: block;
}

.files-search-clear-icon:hover {
    fill: var(--error-color);
    cursor: pointer;
}

.files-table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    background: linear-gradient(0deg, var(--background-color-2) 0%, var(--background-color-3) 100%);
    box-shadow: var(--box-shadow);
}

.no-files-uploaded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: var(--input-text-color);
    user-select: none;
}

.files-table-head {
    user-select: none;
    border-radius: 8px 8px 0 0;
    background: inherit;
}

.files-table-head,
.files-table-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.files-table-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.file-table-body-row-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: var(--input-text-color);
    user-select: none;
}

.file-table-head-row,
.file-table-body-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

.file-table-body-row {
    min-height: 17.5%;
    max-height: 17.5%;
}

.file-table-body-row:hover {
    background-color: var(--background-color-4);
}

.file-select {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 6%;
}

.file-select-icon {
    fill: var(--text-color-5);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.file-title,
.file-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 75%;
    cursor: default;
}

.file-titles {
    height: 100%;
    white-space: nowrap;
    overflow: auto;
}

.file-titles::-webkit-scrollbar {
    display: none;
}

.file-titles:hover {
    text-decoration: underline;
}

.files-sort-icon {
    fill: var(--text-color-5);
    width: 12px;
    height: 12px;
}

.file-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12%;
    cursor: default;
}

.file-edit-icon {
    fill: var(--text-color-5);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.file-edit-icon:active {
    fill: var(--background-color-5);
}

.files-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.files-pagination-buttons,
.files-actions-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.files-pagination-button,
.files-actions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    min-width: 24px;
    padding: 4px;
    margin: 0 1.5px;
}

.files-pagination-button-icon {
    fill: var(--text-color-1);
    width: 16px;
    height: 16px;
}

.files-actions-button-icon {
    fill: var(--text-color-1);
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.checklist-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 67%;
    height: 78vh;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: linear-gradient(0deg, var(--background-color-2) 0%, var(--background-color-3) 100%);
    box-shadow: var(--box-shadow);
    overflow: auto;
}

.checklist-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 10px 0;
    color: var(--input-text-color);
    text-align: center;
    background: inherit;
    border-bottom: 1px solid var(--border-color);
}

.checklist {
    position: relative;
    font-size: 0.8rem;
    border-collapse: collapse;
    background-color: var(--background-color-3);
}

.checklist tbody tr:hover {
    background-color: var(--background-color-4);
}

.checklist td {
    padding: 5px;
}

.checklist caption {
    color: var(--text-color-1);
    background-color: var(--background-color-3);
    text-align: center;
    padding: 5px 0;
    font-size: .85rem;
}

.checklist thead {
    text-wrap: nowrap;
    font-weight: bold;
    background-color: var(--background-color-3);
    color: var(--text-color-5);
    position: sticky;
    top: 0;
    left: 0;
}

.checklist-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0 0 4px 4px;
}

.checklist-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: var(--input-text-color);
    user-select: none;
}