header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color-1);
  width: 100%;
  padding: 0 1%;
  min-height: 50px;
  max-height: 50px;
  /*border-bottom: 1px solid var(--border-color);*/
}

header.scrolled {
  box-shadow: var(--box-shadow);
}

.header-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  gap: 8px;
}

.header-link {
  display: flex;
  align-items: center;
  height: fit-content;
  text-decoration: none;
  transition: transform 0.2s;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-1);
  font-size: 1.25rem;
  font-weight: normal;
}

.header-subtitle {
  color: var(--input-text-color);
  font-size: 1.1rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 27%;
}

.nav-link {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  height: fit-content;
  text-decoration: none;
  color: var(--text-color-1);
  transition: transform 0.2s;
}

.nav-link:hover {
  background-color: var(--hover-background-color);
}

.header-link:active,
.nav-link:active {
  transform: scale(0.90);
}

.nav-link-active {
  background-color: var(--hover-background-color);
  color: var(--link-color);
}

.github-icon,
.theme-button-icon {
  width: 22px;
  height: 22px;
  fill: var(--link-color);
}

.github-link,
.theme-button {
  display: flex;
  background: inherit;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 6px;
  box-shadow: none;
  transition: transform 0.2s;
}

.github-link:hover,
.theme-button:hover {
  background: var(--hover-background-color);
}

.github-link:active,
.theme-button:active {
  transform: scale(0.93);
}

.github-link:active .github-icon,
.theme-button:active .theme-button-icon {
  transform: scale(0.93);
}