.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.intro,
.about-prisma,
.features,
.resources,
.navigation {
  width: 100%;
  max-width: 820px;
  text-align: justify;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: var(--background-color-2);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s, transform 0.3s;
}

.intro:hover,
.about-prisma:hover,
.features:hover,
.resources:hover,
.navigation:hover {
  background-color: var(--background-color-3);
  transform: translateY(-5px);
}

.intro h1,
.about-prisma h2,
.features h2,
.resources h2,
.navigation h2 {
  color: var(--text-color-1);
  font-weight: 600;
  font-size: 1.5rem;
}

.intro p,
.about-prisma p,
.features p,
.resources p,
.navigation p {
  color: var(--text-color-2);
  line-height: 1.5;
  font-size: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features>div {
  background-color: var(--background-color-3);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s, transform 0.3s;
}

.features>div:hover {
  background-color: var(--background-color-4);
  transform: translateY(-3px);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.navigation a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--background-color-4);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s, transform 0.3s;
}

.navigation a:hover {
  background-color: var(--background-color-5);
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
    gap: 10px;
  }
}

ul {
  list-style-type: none;
}