header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 45px;
    color: #444;
    border-bottom: #ddd 1px solid;
}

.header-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.navbar {
    display: flex;
    width: 30%;
    height: 100%;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar-links a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #444;
    font-size: 1.25rem;
    text-decoration: none;

    &:hover {
        color: #0088ff;
    }
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
        color: #0088ff;
    }
}

.navbar-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.header-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    height: 100%;
    width: 15%;
}

.header-search-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5px;
    background-color: #eee;
    color: #444;
    width: 100%;
    height: 60%;
}

.header-search-background:hover {
    outline: 1px solid #ddd;
}

.header-search-container:focus-within .header-search-background {
    outline: 1px solid #bbb;
}

.header-search-icon,
.header-search-clear-icon,
.header-search-clear-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .9rem;
    padding: 0 5%;
    color: #bbb;

}

.header-search-icon {
    cursor: pointer;
}

.header-search-clear-icon:hover {
    color: #ff0051;
}

.header-search {
    width: 80%;
    height: fit-content;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    color: #bbb;

    &::placeholder {
        color: #bbb;
    }
}

.theme-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.theme-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    color: #444;
    background-color: inherit;
    border: none;
    height: 50%;
    width: 100%;
    cursor: pointer;
}

.theme-button-icon {
    font-size: 1.5rem;
    font-weight: bold;
}