[data-theme="light"] {
  --text-color-1: hsl(var(--theme-hue), 18%, 11%);
  --text-color-2: hsl(var(--theme-hue), 18%, 14%);
  --text-color-3: hsl(var(--theme-hue), 18%, 17%);
  --text-color-4: hsl(var(--theme-hue), 18%, 20%);
  --text-color-5: hsl(var(--theme-hue), 18%, 23%);

  --background-color-1: hsl(var(--theme-hue), 100%, 98%);
  --background-color-2: hsl(var(--theme-hue), 100%, 95%);
  --background-color-3: hsl(var(--theme-hue), 100%, 92%);
  --background-color-4: hsl(var(--theme-hue), 100%, 89%);
  --background-color-5: hsl(var(--theme-hue), 100%, 86%);

  --link-color: hsl(var(--theme-hue), 80%, 65%);

  --input-placeholder-color: hsla(var(--theme-hue), 30%, 70%, 0.4);
  --input-text-color: hsl(var(--theme-hue), 30%, 70%);
  --input-background-color: hsl(var(--theme-hue), 100%, 99%);

  --border-color: hsl(var(--theme-hue), 66%, 80%);
  --border-color-hover: hsl(var(--theme-hue), 100%, 75%);
  --border-color-focus: hsl(var(--theme-hue), 100%, 65%);
  --border-box-shadow: 0 0 6px 3px hsla(var(--theme-hue), 100%, 78%, 0.3);

  --box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.1);

  --hover-background-color: hsla(var(--theme-hue), 100%, 75%, 0.1);

  --button-background-color-1: hsl(var(--theme-hue), 100%, 68%);
  --button-background-color-2: hsl(var(--theme-hue), 100%, 74%);

  --scrollbar-color: hsla(var(--theme-hue), 100%, 68%, 0.25);
  --scrollbar-color-hover: hsla(var(--theme-hue), 100%, 68%, 0.5);
  --scrollbar-color-active: hsla(var(--theme-hue), 100%, 68%, 0.75);

  --error-color: hsl(340, 100%, 60%);
  --warning-color: hsl(60, 100%, 60%);
  --success-color: hsl(135, 60%, 60%);
}

[data-theme="dark"] {
  --text-color-1: hsl(var(--theme-hue), 100%, 98%);
  --text-color-2: hsl(var(--theme-hue), 100%, 95%);
  --text-color-3: hsl(var(--theme-hue), 100%, 92%);
  --text-color-4: hsl(var(--theme-hue), 100%, 89%);
  --text-color-5: hsl(var(--theme-hue), 100%, 86%);

  --background-color-1: hsl(var(--theme-hue), 18%, 11%);
  --background-color-2: hsl(var(--theme-hue), 18%, 14%);
  --background-color-3: hsl(var(--theme-hue), 18%, 17%);
  --background-color-4: hsl(var(--theme-hue), 18%, 20%);
  --background-color-5: hsl(var(--theme-hue), 18%, 23%);

  --link-color: hsl(var(--theme-hue), 100%, 83%);

  --input-placeholder-color: hsla(var(--theme-hue), 15%, 40%, 0.4);
  --input-text-color: hsl(var(--theme-hue), 15%, 40%);
  --input-background-color: hsl(var(--theme-hue), 18%, 23%);

  --border-color: hsl(var(--theme-hue), 15%, 40%);
  --border-color-hover: hsl(var(--theme-hue), 15%, 48%);
  --border-color-focus: hsl(var(--theme-hue), 15%, 60%);
  --border-box-shadow: 0 0 6px 3px hsla(var(--theme-hue), 100%, 85%, 0.3);

  --box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.1);

  --hover-background-color: hsla(var(--theme-hue), 100%, 83%, 0.1);

  --button-background-color-1: hsl(var(--theme-hue), 100%, 79%);
  --button-background-color-2: hsl(var(--theme-hue), 100%, 85%);

  --scrollbar-color: hsla(var(--theme-hue), 100%, 83%, 0.25);
  --scrollbar-color-hover: hsla(var(--theme-hue), 100%, 83%, 0.5);
  --scrollbar-color-active: hsla(var(--theme-hue), 100%, 83%, 0.75);

  --error-color: hsl(340, 100%, 60%);
  --warning-color: hsl(60, 100%, 70%);
  --success-color: hsl(135, 60%, 50%);
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 200;
  src: local("Roboto Slab ExtraLight"), url("../fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), url("../fonts/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Slab Medium"), url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  src: local("Roboto Slab SemiBold"), url("../fonts/RobotoSlab-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  src: local("Roboto Slab ExtraBold"), url("../fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Slab Black"), url("../fonts/RobotoSlab-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Variable"), url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

:root {
  --theme-hue: 210;
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: "liga" 1, "calt" 1;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--text-color-1);
  background-color: var(--background-color-1);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: var(--link-color);
  background-color: transparent;
}

input,
textarea {
  font-size: 1rem;
  color: var(--text-color-1);
  border: 1px solid var(--border-color);
  background-color: var(--background-color-3);
  transition: border-color 0.2s, box-shadow 0.2s;
}

::placeholder {
  color: var(--input-placeholder-color);
}

input:focus,
textarea:focus {
  border-color: var(--border-color-focus);
  box-shadow: var(--border-box-shadow);
}

button {
  color: var(--text-color-1);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-transform: none;
  border-radius: 5px;
  padding: 4px 24px;
  user-select: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background: linear-gradient(0deg, var(--button-background-color-1) 0%, var(--button-background-color-2) 100%);
  transition: transform 0.2s;
}

button:hover {
  background: linear-gradient(0deg, var(--button-background-color-2) 0%, var(--button-background-color-1) 100%);
}

button:active {
  transform: scale(0.98);
  background: var(--button-background-color-2);
  box-shadow: none;
}

button:disabled {
  display: none;
}

#root ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

#root ::-webkit-scrollbar-track {
  background-color: var(--background-color-4);
}

#root ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

#root ::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}

#root ::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-color-active);
}

#root ::-webkit-scrollbar-corner {
  background-color: var(--background-color-4);
}