[data-theme="light"] {
    --code-container-color: #555555;
    --code-container-backgroung-color: #fafafa;
    --entry-type-color: #d20090;
    --cite-key-color: #ff0066;
    --field-color: #555555;
    --field-value-color: #555555;
    --bracket-color: #ff7700;
    --comma-color: #ff7700;
    --equal-color: #ff7700;
    --url-color: #555555;
}

[data-theme="dark"] {
    --code-container-color: #dddddd;
    --code-container-backgroung-color: #232334;
    --entry-type-color: #9090ff;
    --cite-key-color: #fffaaa;
    --field-color: #dddddd;
    --field-value-color: #dddddd;
    --bracket-color: #ff88b8;
    --comma-color: #ff88b8;
    --equal-color: #ff88b8;
    --url-color: #dddddd;
}

.citation {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
}

.citation-title {
    font-size: 1rem;
    color: var(--text-color);
}

.code-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    color: var(--code-container-color);
    background-color: var(--code-container-backgroung-color);
    border-radius: 6px;
    width: 50%;
    min-height: 45px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.code {
    font-size: 0.8rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    overflow-x: auto;
    color: var(--code-container-color);

    &:hover {
        color: var(--code-container-color);
    }
}

.copy-button {
    display: flex;
    justify-content: right;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 6px;
    padding: 5px;
    background-color: inherit;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
}

.check-button {
    display: flex;
    justify-content: right;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 6px;
    padding: 5px;
    background-color: inherit;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #66ff7344;
    }
}

.copy-button-icon,
.check-button-icon {
    display: flex;
    height: 20px;
}

.entry-type {
    color: var(--entry-type-color);
    font-weight: bold;
}

.cite-key {
    color: var(--cite-key-color);
}

.field {
    color: var(--field-color);
}

.field-value {
    color: var(--field-value-color);
}

.bracket {
    color: var(--bracket-color);
}

.comma {
    color: var(--comma-color);
}

.equal {
    color: var(--equal-color);
}

.url {
    color: var(--url-color);
}