@charset "utf-8";

:root {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-optical-sizing: auto;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    width: 100%;
    height: 100%;

    color: var(--text-color);
    background-color: var(--main-background-color);
}

[data-theme="light"] {
    --text-color: #14141e;
    --fill-color: #14141e;
    --background-color: #ffffff;
    --main-background-color: #f8fcff;
    --link-color: #0088ff;
    --placeholder-color: #bbbbbb;
    --webkit-scrollbar-track-background-color: #fafafa;
    --webkit-scrollbar-thumb-background-color: #eeeeee;
    --webkit-scrollbar-thumb-hover-background-color: #dddddd;
    --webkit-scrollbar-thumb-active-background-color: #cccccc;
    --input-border-color: #dddddd;
    --input-background-color: #ffffff;
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --fill-color: #ffffff;
    --background-color: #14141e;
    --main-background-color: #14141e;
    --link-color: #0088ff;
    --placeholder-color: #afafe088;
    --webkit-scrollbar-track-background-color: #232334;
    --webkit-scrollbar-thumb-background-color: #3d3d5c;
    --webkit-scrollbar-thumb-hover-background-color: #4b4b71;
    --webkit-scrollbar-thumb-active-background-color: #5a5a87;
    --input-border-color: #8888af;
    --input-background-color: #393954;
}

html,
body,
#root {
    display: flex;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

h1,
h2 {
    font-size: 2rem;
}

h3,
h4 {
    font-size: 1.5rem;
}

h5,
h6 {
    font-size: 1.5rem;
}

p,
label,
input,
textarea {
    font-size: 1rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small,
sub,
sup {
    font-size: 0.75rem;
}

a {
    color: #0088ff;
    text-decoration: underline;

    &:hover {
        color: none;
    }
}

::placeholder {
    color: var(--placeholder-color);
}
